.mother-container {
  margin: 4rem 5rem;
}
.nav-title {
  font-weight: 700;
  font-size: 24px;

  color: #1c2a39;
}
.banner-container {
  margin-top: -3rem;
}
.nav-bar {
  display: flex;
  justify-content: space-between;
  margin: 1rem 4rem;
}
.title-bar {
  margin-top: -2rem;
}
.nav-link {
  text-decoration: none;
  margin: 2rem;
  font-size: 12px;
  line-height: 12px;

  color: #5c6a79;
}
.nav-icons {
  margin-top: -1rem;
margin-right: 2rem;
}
.nav-icon {
  margin: 1.2rem;
}
.banner {
  width: 1370px;
}

.book, .rating {
    display: flex;
}
.book-container {
    justify-items: center;
  margin-left: -3rem;
  box-sizing: border-box;
    display: grid;
  
    grid-gap: 50px 150px;
    grid-template-columns: repeat(2, 650px);
   
  
}
.book-info {
    margin-left: 2rem;
    margin-top: 1.2rem;
  line-height: 0rem;
}
.book-author {
    font-size: 13px;
    line-height: 1rem;


color: #5C6A79;
}
.book-title {
    font-weight: 700;
font-size: 16px;


color: #1C2A39;

}
.book-price {
    display: flex;
    
}
.new-price {
    font-size: 13px;


color: #1C2A39;
}
.old-price {
    font-size: 13px;
   


color: #5C6A79;
    margin-left: .5rem;
    text-decoration: line-through;
}
.buy {
    background-color: white;
    color: #4C3DB2;
    padding: 1rem 3rem;
    border: 1px solid #4C3DB2;
    box-sizing: border-box;
}
@media (max-width: 1350px) {
 
 .banner {
   width: 1200px;
 }
 .book-container {
  grid-template-columns: repeat(2, 500px);

 }
 .nav-bar {
   margin-right: -2rem;
   
 }
}
@media (max-width: 1350px) {
 
  .banner {
    width: 1200px;
  }
 
 
 }
 @media (max-width: 1230px) {
 
  .banner {
    width: 1000px;
  }
  .book-container {
    grid-template-columns: repeat(1, 800px);
    justify-content: center;
   }
 
 }
 @media (max-width: 1080px) {
 
  .banner {
    width: 800px;
  }
 .nav-icons {
   display: none;
 }
 
 }
 @media (max-width: 850px) {
 
  .banner {
    width: 600px;
  }
 .nav-link {
   display: none;
 }
 .nav-bar {
  margin: 1rem;
}
 
 }
 @media (max-width: 700px) {
 
  .banner {
    width: 500px;
  }
  
  
  .book-container {
    grid-template-columns: repeat(1, 500px);
    justify-content: center;
   }
 
 }
 @media (max-width: 600px) {
 
  .banner {
    width: 400px;
  }
  .book-container {
    grid-template-columns: repeat(1, 400px);
    justify-content: center;
   }
 
 }
 @media (max-width: 350px) {
 
  .banner {
    width: 200px;
  }
  .book-container {
    grid-template-columns: repeat(1, 200px);
    justify-content: center;
   }
 }